


<!DOCTYPE html>
<html>

<head>
  <title>Flask App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<style>
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited .btn .btn-outline-success .my-2 .my-sm-0 {
    background-color: #d45c01 !important;
    outline-color: #d45c01 !important;
    border: 1px solid #d45c01;
}

body {
  color: #d45c01;
}

textColor{
  color: #d45c01 !important;
}




  </style>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwifiN2_t-LjAhVCy6QKHYmYDQYQjRx6BAgBEAU&url=https%3A%2F%2Fwww.nwfolklife.org%2Fseattlechildrensfestival%2Fsponsors%2Fvoya-financial-logo%2F&psig=AOvVaw3eAZ3EQBprnVHgS7vLaEd1&ust=1564774949991081" style="width:168px;height:84px;border:0">
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active textColor">
          <a class="nav-link textColor" href="/">Home &nbsp&nbsp&nbsp| <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active textColor">
          <a class="nav-link textColor" href="/">PLANNING & ADVICE  &nbsp&nbsp&nbsp | </a>
        </li>
        <li class="nav-item active textColor">
          <a class="nav-link textColor" href="/">PRODUCTS  &nbsp&nbsp&nbsp | </a>
        </li>
        <li class="nav-item active textColor">
          <a class="nav-link textColor" href="/">TOOLS  &nbsp&nbsp&nbsp | </a>
        </li>
        <li class="nav-item active textColor">
          <a class="nav-link textColor" href="/">CONTACT & SERVICES </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">SEARCH</button>
      </form>
    </div>
  </nav>

<p></p>
<p></p>

{% block content %}


{% endblock %}


</body>

<br><bf><br><br><bf><br><br><bf><br><br><bf><br>


<p><img src="{{url_for('static',filename='VOY_GEN_T9_1097_2048x1136_O.png')}}" height="200" width="350" align="right"></p>

<footer>
  <div>

			<section class="footer-copyright">©2019 Voya Services Company. All rights reserved.</section>
	    <section class="footer-disclaimer externals">Securities offered through <a target="_blank" href="http://forprofessionals.voya.com/voya-financial-advisors/voya-financial-advisors">Voya Financial Advisors, Inc.</a>
            (member <a target="_blank" href="http://www.sipc.org/" class="ext">SIPC</a><i class="icon-external-link"></i>). See <a target="_blank" href="http://brokercheck.finra.org/" class="ext">BrokerCheck</a><i class="icon-external-link"></i> for more information.</section>
          </footer>
</div> <!-- /wrapper --><script data-module-list="global" src="./Plan, Invest, Protect _ Voya Financial_files/qloader.js"></script>


<script src="./Plan, Invest, Protect _ Voya Financial_files/js_nC4y0gtr_abCvK7W75vrRk_bD7q6nPd5Lwp0jRxyH-s.js"></script>
        <script src="./Plan, Invest, Protect _ Voya Financial_files/google-analytics-helper.js"></script>
        <script src="./Plan, Invest, Protect _ Voya Financial_files/analytics(1).js"></script><iframe height="0" width="0" style="display: none; visibility: hidden;" src="./Plan, Invest, Protect _ Voya Financial_files/activityi.html"></iframe><iframe height="0" width="0" style="display: none; visibility: hidden;" src="./Plan, Invest, Protect _ Voya Financial_files/activityi(1).html"></iframe><iframe height="0" width="0" style="display: none; visibility: hidden;" src="./Plan, Invest, Protect _ Voya Financial_files/activityi(2).html"></iframe>




<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","554067708103106");fbq("track","PageView");fbq("track","ViewContent",{value:3.5,currency:"USD"});</script>
<noscript>
<img height="1" width="1" src="https://www.facebook.com/tr?id=554067708103106&amp;ev=PageView&amp;noscript=1">
</noscript>
<script type="text/javascript" id="" src="./Plan, Invest, Protect _ Voya Financial_files/analytics_4e82b1b166b94ffa8621db2917e4101b.js"></script></body></html>

</html>
